.box {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 8px;
    margin: 2rem;
    margin-top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h2 {
    text-align: center;
}

p {
    text-align: center;
}